<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Beranda</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/output.css">
        <style>
            .article-content {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
            .article-content.expanded {
                display: block;
            }
        </style>
    </head>
    <body>
            <!-- ========== HEADER ========== -->
    <header class="flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full py-7">
        <nav class="relative max-w-7xl w-full flex flex-wrap md:grid md:grid-cols-12 basis-full items-center px-4 md:px-6 mx-auto" aria-label="Global">
        <div class="md:col-span-3">
            <!-- Logo -->
            <a class="flex-none rounded-xl text-xl inline-block font-semibold focus:outline-none focus:opacity-80" href="/home" aria-label="Preline">
            <img class="w-40 h-auto" src="\images\unand-emas-small.png">
            </a>
            <!-- End Logo -->
        </div>
    
        <!-- Button Group -->
        <div class="flex items-center gap-x-2 ms-auto py-1 md:ps-6 md:order-3 md:col-span-3">
            <button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-gray-500 text-gray-500 hover:border-primary-600 hover:text-primary-600 disabled:opacity-50 disabled:pointer-events-none dark:border-gray-700 dark:text-gray-400 dark:hover:text-primary-500 dark:hover:border-primary-600 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                <a href="/alumni/form/upload">Formulir Alumni</a> 
                </button>
                <button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-primary-600 text-white hover:bg-white hover:text-black hover:border-primary-600 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                <a href="/auth/login/alumni">Log In</a> 
                </button>
    
            <div class="md:hidden">
            <button type="button" class="hs-collapse-toggle size-[38px] flex justify-center items-center text-sm font-semibold rounded-xl border border-gray-200 text-primary hover:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none" data-hs-collapse="#navbar-collapse-with-animation" aria-controls="navbar-collapse-with-animation" aria-label="Toggle navigation">
                <svg class="hs-collapse-open:hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" x2="21" y1="6" y2="6"/><line x1="3" x2="21" y1="12" y2="12"/><line x1="3" x2="21" y1="18" y2="18"/></svg>
                <svg class="hs-collapse-open:block hidden flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M18 6 6 18"/><path d="m6 6 12 12"/></svg>
            </button>
            </div>
        </div>
        <!-- End Button Group -->
    
        <!-- Collapse -->
        <div id="navbar-collapse-with-animation" class="hs-collapse hidden overflow-hidden transition-all duration-300 basis-full grow md:block md:w-auto md:basis-auto md:order-2 md:col-span-6">
            <div class="flex flex-col gap-y-4 gap-x-0 mt-5 md:flex-row md:justify-center md:items-center md:gap-y-0 md:gap-x-7 md:mt-0">
            <div>
                <a class="relative inline-block before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 " href="#" aria-current="page">Beranda</a>
            </div>

            <div class="hs-dropdown [--strategy:static] md:[--strategy:fixed] [--adaptive:none] md:[--trigger:hover] py-3 ps-px sm:px-3">
                <button type="button" class="flex items-center w-full  text-primary-600 hover:text-gray-600 dark:text-neutral-400 dark:hover:text-neutral-500 ">
                    Tentang Alumni
                    <svg class="ms-2 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
                </button>
        
                <div class="hs-dropdown-menu transition-[opacity,margin] duration-[0.1ms] md:duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 md:w-48 hidden z-10 bg-white md:shadow-md rounded-lg p-2 dark:bg-neutral-800 md:dark:border dark:border-neutral-700 dark:divide-neutral-700 before:absolute top-full md:border before:-top-5 before:start-0 before:w-full before:h-5">
                    <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-primary-600 hover:bg-gray-100 hover:text-gray-500 focus:ring-2 focus:ring-primary-500 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300" href="http://alumni.unand.ac.id/index.php/tentang-satgas/profil-alumni">
                    Profil Alumni
                    </a>
                    <div class="hs-dropdown [--strategy:static] md:[--strategy:absolute] [--adaptive:none] md:[--trigger:hover] relative">
                    </div>
        
                    <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-primary-600 hover:bg-gray-100  hover:text-gray-500 focus:ring-2 focus:ring-primary-500 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:hover:text-neutral-300" href="sebaran-alumni">
                    Sebaran Alumni
                    </a>
                    </div>
                
                </div>
                <div>
                    <a class="inline-block text-primary-600 hover:text-gray-600" href="/blog">Artikel</a>
                </div>
            </div>
        </div>
        <!-- End Collapse -->
        </nav>
    </header>
    <!-- ========== END HEADER ========== -->
    <!-- Slider -->
    <div class="px-4 lg:px-6  py-10">
        <div data-hs-carousel='{
            "loadingClasses": "opacity-0"
        }' class="relative">
        <div class="hs-carousel relative overflow-hidden w-full h-[30rem] md:h-[calc(100vh-106px)]  bg-gray-100 rounded-2xl">
            <div class="hs-carousel-body absolute top-0 bottom-0 start-0 flex flex-nowrap transition-transform duration-700 opacity-0">
            <!-- Item -->
            <div class="hs-carousel-slide">
                <div class="h-[30rem] md:h-[calc(100vh-106px)]  flex flex-col bg-[url('/images/1.jpg')] bg-cover bg-center bg-no-repeat">
                <div class="mt-auto w-2/3 md:max-w-lg ps-5 pb-5 md:ps-10 md:pb-10">
                </div>
                </div>
            </div>
            <!-- End Item -->
    
            <!-- Item -->
            <div class="hs-carousel-slide">
                <div class="h-[30rem] md:h-[calc(100vh-106px)]  flex flex-col bg-[url('/images/2.jpg')] bg-cover bg-center bg-no-repeat">
                <div class="mt-auto w-2/3 md:max-w-lg ps-5 pb-5 md:ps-10 md:pb-10">
                </div>
                </div>
            </div>
            <!-- End Item -->
    
            <!-- Item -->
            <div class="hs-carousel-slide">
                <div class="h-[30rem] md:h-[calc(100vh-106px)]  flex flex-col bg-[url('/images/Berita_2.jpg')] bg-cover bg-center bg-no-repeat">
                <div class="mt-auto w-2/3 md:max-w-lg ps-5 pb-5 md:ps-10 md:pb-10">
                </div>
                </div>
            </div>
            <!-- End Item -->
            </div>
        </div>
    
        <!-- Arrows -->
        <button type="button" class="hs-carousel-prev hs-carousel:disabled:opacity-50 disabled:pointer-events-none absolute inset-y-0 start-0 inline-flex justify-center items-center w-12 h-full text-black hover:bg-white/20 rounded-s-2xl focus:outline-none focus:bg-white/20">
            <span class="text-2xl" aria-hidden="true">
            <svg class="flex-shrink-0 size-3.5 md:size-4" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"></path>
            </svg>
            </span>
            <span class="sr-only">Previous</span>
        </button>
    
        <button type="button" class="hs-carousel-next hs-carousel:disabled:opacity-50 disabled:pointer-events-none absolute inset-y-0 end-0 inline-flex justify-center items-center w-12 h-full text-black hover:bg-white/20 rounded-e-2xl focus:outline-none focus:bg-white/20">
            <span class="sr-only">Next</span>
            <span class="text-2xl" aria-hidden="true">
            <svg class="flex-shrink-0 size-3.5 md:size-4" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"></path>
            </svg>
            </span>
        </button>
        <!-- End Arrows -->
        </div>
    </div>
    <!-- End Slider -->

    
        <!-- ========== FOOTER ========== -->
    <footer class="flex justify-center items-center mt-auto w-full max-w-full py-10 px-4 sm:px-6 lg:px-8 bg-primary-700 mx-auto">
        <!-- Grid -->
        <div class="text-center">
        
            <a class="flex-none text-xl font-semibold text-white" href="#" aria-label="Brand">Alumni Fakultas Teknologi Informasi</a>
            <br>
            <a class="flex-none text-xl font-semibold text-white" href="#" aria-label="Brand">Universitas Andalas</a>
        </div>
        <!-- End Col -->
        <div class="content-center">
        <div class="mt-3 items-center max-w-40">
            <img src="\images\logo_unand.webp" alt="">
        </div>

        </div>
        <!-- End Grid -->
    </footer>
    <!-- ========== END FOOTER ========== -->
        <script src="/node_modules/preline/dist/index.js"></script>
    </body>
</html>