@tailwind base;
@tailwind components;
@tailwind utilities;


/* Inter Black */
@font-face {
    font-family: 'Inter';
    font-weight: 900;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/Inter-Black.ttf') format('truetype');
  }
  
  /* Inter Bold */
  @font-face {
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/Inter-Bold.ttf') format('truetype');
  }
  
  /* Inter ExtraBold */
  @font-face {
    font-family: 'Inter';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/Inter-ExtraBold.ttf') format('truetype');
  }
  
  /* Inter ExtraLight */
  @font-face {
    font-family: 'Inter';
    font-weight: 200;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/Inter-ExtraLight.ttf') format('truetype');
  }
  
  /* Inter Light */
  @font-face {
    font-family: 'Inter';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/Inter-Light.ttf') format('truetype');
  }
  
  /* Inter Medium */
  @font-face {
    font-family: 'Inter';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/Inter-Medium.ttf') format('truetype');
  }
  
  /* Inter Regular */
  @font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/Inter-Regular.ttf') format('truetype');
  }
  
  /* Inter SemiBold */
  @font-face {
    font-family: 'Inter';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/Inter-SemiBold.ttf') format('truetype');
  }
  
  /* Inter Thin */
  @font-face {
    font-family: 'Inter';
    font-weight: 100;
    font-style: normal;
    font-display: swap;
    src: url('/fonts/Inter-Thin.ttf') format('truetype');
  }